<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger for org.hibernate.type with INFO level -->
    <logger name="org.hibernate.type" level="info" />

    <!-- Root Logger with INFO level -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>